/** _base-config.scss
 *
 * CONFIGURATION
 * Layout: Base
 *
 */

 $project: 'base' !default;

/* Pagesettings */

$page-max-width: 980 !default;
$base-font-size: 16 !default;
$base-line-height: 1.5em !default;


/* Breakpoints */
$bp-names: small medium large;
$bp-values: 0 600 960;

/* Navi Breakpoint */
$nav-bp: 790 !default;


/* Gridsettings */

$grid-total-cols: 12 !default;
$grid-gap: 1.25rem !default;

$seperator-style: dotted !default;
$seperator-width: 2px !default;
$seperator-color: #ddd !default;


/* Colors */

$ci-color-dark: #606e72 !default;
$ci-color-light: #e5a100 !default;

$white: #f9f9f9 !default;

$body-background-color: $white !default;

$alert-color: rgba(200, 40, 40, 1) !default;
$success-color: rgba(40, 165, 40, 1) !default;


/* Fonts */

$headline-fonts: "PT Sans", Helvetica, sans-serif !default;
$body-fonts: "Open Sans", Arial, sans-serif !default;
/*
EmojiSymbols Font (c)blockworks - Kenichi Kaneko
http://emojisymbols.com/
*/
$icon-font: "EmojiSymbols", sans-serif;

$text-color: #3f4a4c;

$a-color: #0071bc;

$h1-size: 48px !default;
$h2-size: 36px !default;
$h3-size: 24px !default;
$h4-size: 20px !default;
$h5-size: 18px !default;
$h6-size: 18px !default;

$h1-size-small: 32px !default;
$h2-size-small: 24px !default;
$h3-size-small: 20px !default;
$h4-size-small: 18px !default;
$h5-size-small: 14px !default;
$h6-size-small: 14px !default;

$h1-color: $ci-color-light !default;
$h2-color: $ci-color-light !default;
$h3-color: $ci-color-dark !default;
$h4-color: $ci-color-light !default;
$h5-color: $ci-color-dark !default;
$h6-color: $ci-color-light !default;

$h1-weight: normal !default;
$h2-weight: normal !default;
$h3-weight: 500 !default;
$h4-weight: 500 !default;
$h5-weight: 500 !default;
$h6-weight: 500 !default;

$para-space-after: 0.75rem;

/* Lists */

$ul-icon: "\25AA";
$ul-icon-width: 1.3em;
$ul-icon-color: $ci-color-light;
$ul-icon-font: $icon-font;

/* Downloadlists */

$download-icon: "\2198";
$download-icon-font: $icon-font;

/* Navi */

$navi-a: $ci-color-dark !default;
$navi-a-hover: $ci-color-light !default;


/* Banner/Hero */

$hero-max-width: 1080px !default;
$hero-bg-color: transparent !default;


/* BoxShadow */

$global-box-shadow-large: 0 0px 12px rgba(0,0,0,0.3);
$global-box-shadow-small: 0 0px 6px rgba(0,0,0,0.3);
$global-box-shadow-tiny: 0 0px 2px rgba(0,0,0,0.2);

/* Forms */

$form-border-color: lighten($ci-color-dark, 42);
$form-padding: 8px 12px;
$form-font-size: $base-font-size;

/* Abstracts laden */

$use-abs-page: true !default;
$use-abs-grid: true !default;
$use-abs-nav-horizontal: true !default;

/* Development Module Laden */

$use-dev-mode: false;
