/**
 * _landfried-mediation-config.scss
 */

$project: 'landfried-mediation';

// /* Pagesettings */

$page-max-width: 1080;
// $base-font-size: 16;
// $base-line-height: 1.5em;


// /* Breakpoints */
// $bp-names: small medium large;
// $bp-values: 0 600 960;

// /* Navi Breakpoint */
$nav-bp: 1050;


// /* Gridsettings */

// $grid-total-cols: 12;
// $grid-gap: 1.25rem;

// $seperator-style: dotted;
// $seperator-width: 2px;
// $seperator-color: #ddd;


/* Colors */

$white: #f8f8f8;

$ci-color-dark: #606e72;
$ci-color-light: #00689f;
// $ci-color-light: #8a1e1e;

$body-background-color: $white;

$alert-color: rgba(200, 40, 40, 1);
$success-color: rgba(40, 165, 40, 1);


/* Fonts */

$headline-fonts: "Rambla", Helvetica, sans-serif;
// $body-fonts: "Open Sans", Arial, sans-serif;
// /*
// EmojiSymbols Font (c)blockworks - Kenichi Kaneko
// http://emojisymbols.com/
// */
// $icon-font: "EmojiSymbols", sans-serif;

$text-color: #606e72;

$a-color: $ci-color-light;

$h1-size: 36px;
$h2-size: 30px;
$h3-size: 26px;
$h4-size: 22px;
$h5-size: 16px;
$h6-size: 16px;

// $h1-size-small: 32px;
// $h2-size-small: 24px;
// $h3-size-small: 20px;
// $h4-size-small: 18px;
// $h5-size-small: 14px;
// $h6-size-small: 14px;

// $h1-color: $ci-color-light;
// $h2-color: $ci-color-light;
$h3-color: $ci-color-light;
$h4-color: $ci-color-dark;
// $h5-color: $ci-color-dark;
// $h6-color: $ci-color-light;

// $h1-weight: normal;
// $h2-weight: normal;
// $h3-weight: 500;
// $h4-weight: 500;
// $h5-weight: 500;
// $h6-weight: 500;

// $para-space-after: 0.75rem;

// /* Lists */

// $ul-icon: "\25AA";
// $ul-icon-width: 1.3em;
// $ul-icon-color: $ci-color-light;
// $ul-icon-font: $icon-font;

// /* Downloadlists */

// $download-icon: "\2198";
// $download-icon-font: $icon-font;

// /* Navi */

$navi-a: #fff;
$navi-a-hover: $ci-color-light;


// /* Banner/Hero */

$hero-max-width: 1080px;
// $hero-bg-color: transparent;


// /* BoxShadow */

// $global-box-shadow-large: 0 0px 12px rgba(0,0,0,0.3);
// $global-box-shadow-small: 0 0px 6px rgba(0,0,0,0.3);
// $global-box-shadow-tiny: 0 0px 2px rgba(0,0,0,0.2);

// /* Forms */

// $form-border-color: lighten($ci-color-dark, 42);
// $form-padding: 8px 12px;
// $form-font-size: $base-font-size;

// /* Abstracts laden */

// $use-abs-page: true;
// $use-abs-grid: true;
// $use-abs-nav-horizontal: true;

// /* Development Module Laden */

// $use-dev-mode: false;
