@font-face {
    font-family: "EmojiSymbols";
    src: url("fonts/EmojiSymbols-Regular.woff") format("woff"), url("fonts/EmojiSymbols-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
