/**
 * hero.scss
 */

 .hero {

    /* background-color: $hero-bg-color;
    font-size: 0;
    line-height: 0; */
    margin: 0 0 40px 0;

    .hero-width {
        max-width: $hero-max-width;
        margin: 0 auto;
        font-size: 0;
        line-height: 0;
        @include shadow('large');
        border: solid 1px #efefef;
    }

    img {
        max-width: 100%;
        display: inline;
    }

 }
