.icon-close {
	
	position: relative;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	opacity: 0.75;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}

	span {
		visibility: hidden;
	}

	&:before, &:after {
		background: $white;
		border-radius: 1px;
		content: " ";
		height: 2px;
		left: 0;
		position: absolute;
		top: 15px;
		transition: height 0.1s;
		transition: top 0.1s;
		width: 30px;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}

}

.icon-menu {
	
	position: relative;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	line-height: 0;
	cursor: pointer;
	overflow: visible;
	border-top: solid 4px $ci-color-light;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	// background: tint($ci-color-dark, 70);

	span {
		display: none;
	}

	&:hover {
		border-top: solid 4px tint($ci-color-light, 40);
		&:before {
			background: tint($ci-color-light, 70);
		}
		&:after {
			background: tint($ci-color-light, 0);
		}
	}

	&:before, &:after {
		content: " ";
		position: absolute;
		left: 0;
		width: 30px;
		height: 4px;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}

	&:before {
		top: 9px;
		background: tint($ci-color-light, 40);
	}

	&:after {
		bottom: 0;
		background: tint($ci-color-light, 70);
	}

}