/**
 * image-gallery.scss
 */

 ul.slick-gallery {
    margin: 0 0 1em 0;
    padding: 0;
    img {
        max-width: 100%;
    }
    .slick-slide {
        margin: 0 5px;
    }

    .slick-dots {
        bottom: -50px;
    }

    .slick-dots li.slick-active button:before {
        color: $ci-color-dark;
    }

    .slick-dots button:before {
        color: $ci-color-dark;
    }

    li {
        padding: 0;
        &:before {
            content: "";
            width: auto;
            display: inline;
            margin: 0;
        }
    }

 }
