.nav-mobile {
	
	position: absolute;
	box-sizing: border-box;
	top: 0;
	left: -370px;
	z-index: 1000;
	width: 360px;
	height: 100%;
	padding: 0;
	background-color: tint($ci-color-light, 10);
	// border-right: 10px solid #b3b3b3;
	box-shadow: $global-box-shadow-large;

	ul {
		margin: 43px 0 0 0;
		padding: 0 10px;
		list-style: none;

		ul {
			margin: 0;
			padding: 0;
			font-size: 0.85rem;
			li a {
				padding-left: 2rem;
			}
		}
		
		li {
			margin: 0;
			padding: 0;

			&:before {
				content: none;
			}

			a {
				display: block;
				margin: 0;
				border-bottom: solid 1px tint($ci-color-light, 20);
				padding: 10px 20px; 
				color: $white;

				&:hover {
					background: tint($ci-color-light, 0);
					text-decoration: none;
				}
			}

		}
	}

	.close {
		float: right;
		margin: 10px 15px 10px;
		clear: both;
	}

}

.veiling {

	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: 990;
	background: $white;
	opacity: 0;
	width: 100%;
	height: 100%;

}

