/**
 * nav-main.scss
 * requires nav-main.js
 */

 .nav-horizontal {

        line-height: 0px;
        margin: 0 0 18px 0;

        ul, li {
            white-space: nowrap;
            text-align: left;
            line-height: $base-line-height;
            margin: 0;
            padding: 0;

            &:before {
                content: "";
                width: auto;
                display: inline;
                margin: 0;
            }

            a {
                display: block;
                color: $navi-a;
                &:hover {
                    color: $navi-a-hover;
                    text-decoration: none;
                }
            }

            &.active > a {
                color: $navi-a-hover;
            }

        }

        .open {
            display: none;
            position: absolute;
            top: 18px;
            right: 20px;

            &:before, &:after {

            }

            &.hide {
                height: 0;
                opacity: 0;
                &:before, &:after {
                    opacity: 0;
                    top: 0;
                }
            }
        }

        &>.page-width {
            text-align: right;
            @include breakpoint($nav-bp) {
                text-align: left;
            }
        }

        &.sticky {
            border-bottom: solid 1px $ci-color-light;
            position: fixed;
            z-index: 100000;
            top: 0;
            left: 0;
            width: 100%;
            background: $body-background-color;
            box-shadow: 0 0px 16px rgba(0,0,0,0.3);

            &>.page-width {
                padding: 0.5em 20px;
                text-align: right;

                @include breakpoint(medium) {
                    background-position: 20px 8px;
                }
            }

        }

    @media only screen and (max-width: #{$nav-bp}px) {

        margin: 0;

        .open {
            @include inline-block();
        }

        a {
            border-bottom: solid 1px #fff;
            background: $body-background-color;
            padding: 0.6em 1.5em;
        }

        &>div>ul {
            display: none;
            margin: 0;
            position: relative;
            border-top: none;

            ul a {
                color: tint($ci-color-dark, 40%);
                padding-left: 2em;
            }
        }

    }

    @include breakpoint($nav-bp) {

        li {

            a {
                padding: 0.25em 0.5em;
            }

            ul {
                min-width: 100%;
                font-size: 14px;
                left: -1em;
                background: $body-background-color;
                padding: 0 1em;
                white-space: nowrap;
                box-shadow: 0 3px 3px rgba(0,0,0,0.3);
                border: solid 1px tint($ci-color-light, 30%);
                border-top: none;
                z-index: 1000;

                ul {
                    left: 100%;
                    top: 0;
                    border-top: solid 1px tint($ci-color-light, 30%);
                }

            }

            li {
                border-bottom: solid 1px #efefef;
                padding: 0.25em 0;
            }

            li:last-child {
                border-bottom: none;
                padding-bottom: 0.35em;
            }
        }
    }
 }
