/**
 * text-with-image.scss
 */

.text-with-image {
    margin: 0 0 0.5em 0;

    &.textbox {
        @include shadow('small');
        background: #eee;
        margin-bottom: 20px;

        @include adjust-font-size(90);

        li {
            margin-bottom: 0.5em
        }

    }

    &.text .text {
        padding-left: 0;
    }

    .image {
        line-height: 0;
        padding: 0;
        background: #fff;
        img {
            width: 100%;
        }
        &.logo {
            padding: 0 20px;
        }
    }

    &.full .text {
        padding-left: 0;
    }

    &.textbox .text {
        padding: 1em;
        h3 {
            font-size: $h4-size;
            margin: 0 0 0.5em 0;
        }
    }

}
