/*
 * titled-image.scss
 */

 .titled-image {

    @include shadow('small');

    .image {
        line-height: 0;
        font-size: 0;
        img {
            max-width: 100%;
        }
    }

    .caption {
        text-align: center;
        padding: 0.75em;
        background: #eee;
        color: $ci-color-dark;
        font-size: #{$base-font-size * 0.9}px;
    }

 }
