/**
 * typo.scss
 */

body {
    font-family: $body-fonts;
    font-size: #{$base-font-size}px;
    line-height: $base-line-height;
}

/* Headlines */

h1, h2, h3, h4, h5, h6 {

    font-family: $headline-fonts;

/*     &:first-child {
        margin-top: 0;
    } */
}

h1 {
    font-size: $h1-size;
    color: $h1-color;
    font-weight: $h1-weight;
    line-height: 1em;
    margin: 1.5rem 0 2rem 0;

    @media only screen and (max-width: 480px) {
        font-size: $h1-size-small !important;
        word-wrap: break-word;
    }

}

h2 {
    font-size: $h2-size;
    color: $h2-color;
    font-weight: $h2-weight;
    line-height: 1em;
    margin: 1.5rem 0 1.5rem 0;
    @media only screen and (max-width: 480px) {
        font-size: $h2-size-small;
        word-wrap: break-word;
    }
}

h3 {
    font-size: $h3-size;
    color: $h3-color;
    font-weight: $h3-weight;
    line-height: 1.2em;
    margin: 0 0 1rem 0;
    @media only screen and (max-width: 480px) {
        font-size: $h3-size-small;
        word-wrap: break-word;
    }
}

h4 {
    font-size: $h4-size;
    color: $h4-color;
    font-weight: $h4-weight;
    line-height: 1.2em;
    margin: 0 0 1rem 0;
    @media only screen and (max-width: 480px) {
        font-size: $h4-size-small;
        word-wrap: break-word;
    }
}

h5 {
    font-size: $h5-size;
    color: $h5-color;
    font-weight: $h5-weight;
    line-height: 1.5em;
    margin: 0 0 0.5rem 0;
    @media only screen and (max-width: 480px) {
        font-size: $h5-size-small;
        word-wrap: break-word;
    }
}

h6 {
    font-size: $h6-size;
    color: $h6-color;
    font-weight: $h6-weight;
    line-height: 1.5em;
    margin: 0 0 0.5rem 0;
    @media only screen and (max-width: 480px) {
        font-size: $h6-size-small;
        word-wrap: break-word;
    }
}

/* Paragraphs */

p {
    font-size: #{$base-font-size}px;
    margin: 0 0 $para-space-after;
    color: $text-color;

    &+h1, &+h2, &+h3, &+h4, &+h5, &+h6 {
        margin-top: 1.5em;
    }
}

/* Lists */

ul {
    list-style: none;
    margin: 0 0 0 0.5rem;
    padding: 0;
    color: $text-color;
    li {
        padding-left: $ul-icon-width;
        &:before {
            margin-left: -#{$ul-icon-width};
            content: $ul-icon;
            font-family: $ul-icon-font;
            width: $ul-icon-width;
            color: $ul-icon-color;
            @include inline-block();
        }
    }
}

ol {
    margin: 0 0 0 2rem;
    color: $text-color;
}

li {
    margin: 0 0 0.75em;
}

/* Links */

a {
    color: $a-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/* Inline */

strong, b {
    color: $ci-color-light;
}

/* Textausrichtung */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.large-text-left {
    @include breakpoint('large') {
        text-align: left;
    }
}

.large-text-right {
    @include breakpoint('large') {
        text-align: right;
    }
}

.large-text-center {
    @include breakpoint('large') {
        text-align: center;
    }
}
