/**
 * video.scss
 */

 .titled-video {

    @include shadow('small');

    .video {
        line-height: 0;
    }

    iframe {
        height: 344px;
        width: 100%;
    }

    .caption {
        text-align: center;
        padding: 0.75em;
        background: #eee;
        color: $ci-color-dark;
        font-size: #{$base-font-size * 0.9}px;
    }
 }

.small-12.medium-6.large-4 .titled-video .video iframe {
    height: 210px !important;
 }
