/**
 * banner.scss
 */

.hero {

    background: darken($white, 5);

    margin: 0 0 10px 0;

    .hero-width {
        border: none;
        box-shadow: none;
        border-left: solid 10px $white;
        border-right: solid 10px $white;
    }
}

 ul.slick-hero {
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 380px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002a63+0,00689f+100 */
    background: #002a63; /* Old browsers */
    background: -moz-linear-gradient(top, #002a63 0%, #00689f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #002a63 0%,#00689f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #002a63 0%,#00689f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002a63', endColorstr='#00689f',GradientType=0 ); /* IE6-9 */

    @include breakpoint('medium') {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#002a63+0,00689f+100 */
        background: #002a63; /* Old browsers */
        background: -moz-linear-gradient(right, #002a63 0%, #00689f 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(right, #002a63 0%,#00689f 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #002a63 0%,#00689f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002a63', endColorstr='#00689f',GradientType=0 ); /* IE6-9 */
    }

    li {
        margin: 0;
        padding: 0;
    
    }
    .slick-dots li {
        margin: 0 3px;
    }
    &.slick-dotted.slick-slider {
        margin-bottom: 0;
     }

    .slick-dots {
        bottom: 0px;
        background: rgba(248,248,248,0.5);
        padding-top: 8px;
        width: 100%;

        @include breakpoint('medium') {
            width: 55.55%;
        }

        li button {

            height: 14px;
        
            &:before {
                color: $ci-color-light;
                font-size: 14px;
            }
        }

    }

    .slick-slide {
        
        .slide-image {

            float: left;
            width: 100%;
            @include shadow('large');

            @include breakpoint('medium') {
                width: 55.55%;
            }
        }

        .slide-caption {
            float: left;
            width: 90%;
            font-family: $headline-fonts;
            letter-spacing: 1px;
            padding: 20px 5% 40px 5%;
            color: $white;
            font-size: 1rem;
            line-height: 1.25em;

            @include breakpoint('medium') {
                width: 38.45%;
                padding: 9.5% 3% 0 2%;
            }

            @include breakpoint('large') {
                font-size: 1.1rem;
                line-height: 1.25em;
                padding: 11.5% 3% 0 2%;
            }

            .keyword {
                font-weight: normal;
                display: block;
                font-size: 1.2rem;
                margin-bottom: 5px;

                @include breakpoint('medium') {
                    font-size: 1.6rem;
                    margin-bottom: 10px;
                }
            }
        }

    }

}
