.text-with-image {
    margin: 0 0 0.5em 0;
    border-top: solid 1px #cccccc;
    padding-top: 30px;
    .text {
        h3 {
            width: 100%;
        }
    }

    .image {
        float: right;
        margin: 53px 0 20px 30px;
        @include shadow('small');
        line-height: 0;
    }

}

/*
 * titled-image.scss
 */

 .titled-image {

    .image {
        @include shadow('small');
        line-height: 0;
        font-size: 0;
        img {
            max-width: 100%;
        }
    }

    .caption {
        text-align: center;
        padding: 0.75em;
        background: none;
        color: $ci-color-light;
        font-weight: bold;
        font-size: #{$base-font-size * 0.9}px;
        &:before {
            content: '\00BB\00A0';
        }
        &:after {
            content: '\00A0\00AB';
        }
    }

 }

.slick-gallery {
    background: red;
}
