/**
 * Page Styles Landfried Mediation
 */

body {
    background: $body-background-color;
}

header {
    background: $white;
    background-image: linear-gradient(45deg, $white, #eee);
    border-bottom: solid 10px $ci-color-light;

    @include breakpoint($nav-bp) {
        border-bottom: none;
    }

    &>.page-width {
        @include breakpoint('medium') {
            @include background-image('bg-header', 126, 141);
            background-repeat: no-repeat;
            background-position: 300px 5px;
        }
    }
}

nav.nav-header {
    background: none;
    font-size: 0.85rem;
    float: right;
    margin-top: 7px;

    li:not(:first-child) {
        &:before {
            content: "|";
        }
    }

    a {
        color: $ci-color-light;
        &:hover {
            color: darken(#b3b3b3, 20);
        }
    }
}

aside.col.no-padding {
    
    text-align: center;

    @include breakpoint('large') {
        padding-top: 70px;
    }

}

#search {
    display: none;
    float: right;
}

.content-wrapper {
    border-top: solid 10px #b3b3b3;
    border-bottom: solid 10px #b3b3b3;
    padding: 36px 0 0px 0;
}

.nav-main {

    background: $ci-color-light;
    background-image: linear-gradient(to left, darken($ci-color-light, 5), $ci-color-light 75%);
    font-family: $headline-fonts;
    letter-spacing: 1px;
    margin: 0 0 10px 0;

    &>.page-width>ul>li>a {
        padding: 9px 12px !important;
    }

    &.sticky {
        background-image: linear-gradient(#ddd, #fff);
        .page-width {
            @include background-image(#{$project}-sticky, 42, 31);
            background-repeat: no-repeat;
            background-position: 20px 7px;

            li a {
                color: $ci-color-light;
                padding: 9px 8px;
                &:hover {
                    background: none;
                    color: darken(#b3b3b3, 20);
                }
            }

            li.active a {
                color: darken(#b3b3b3, 20);
                background: none;
            }

        }
    }

    &.mobile {
        background: $white;
        ul {
            margin-left: 0;
            li a {
                color: $ci-color-light;
                padding: 9px 8px;
                &:hover {
                    background: none;
                    color: darken(#b3b3b3, 20);
                }
            }

            li.active a {
                color: darken(#b3b3b3, 20);
                background: none;
            }
        }
    }

    &>.page-width {

        padding: 0;

        &>ul {

            @media only screen and (max-width: #{$nav-bp}px) {

            }

            &>li>a {
                padding: 9px 16px;
            }

            &>li>a:hover {
                background: lighten($ci-color-light, 2);
                color: $white;
            }

            &>li.active>a {
                background: $white;
                box-shadow: 0 0 3px rgba(0,0,0,0.25);
            }

            &>li.active>a:hover {
                background: $white;
                color: $ci-color-light;
            }

        }
    }
}

nav > .page-width {
    padding: 6px 0 8px 0;
}

.page-logo {

    @include inline-block();
    background-repeat: no-repeat;
    width: 190px;
    height: 57px;
    margin: 10px 0 10px 0;

    @include background-image(#{$project}-small, 57, 188);

    @include breakpoint(medium) {
        @include background-image($project, 71, 235);
        width: 236px;
        height: 72px;
        margin: 25px 0 29px 13px;
    }

    @include breakpoint(1000) {

    }

    span {
        display: none;
    }

}

.col {
    margin-bottom: 1.25em;
}

form {

    margin-bottom: 20px;

    fieldset {
        background: none;
        legend {
            color: $ci-color-light;
            font-size: 1rem;
            padding: 0;
            background: none;
            margin: 0;
        }
    }

    input[type=text],
    input[type=email],
    select,
    textarea,
    select {
        // @include breakpoint('large') {
        //     float: left;
        //     width: 70%;
        //     margin: 0 0 15px 0;
        // }
        border-radius: 5px;
        font-size: 0.85rem;
        padding: 10px;
    }

    select {
        height: 38px;
        background: #fff;
    }

    input[type=submit] {
        border-radius: 5px;
    }

    .errorlist {
        // float: right;
        // margin: 5px 0;
        // width: 70%;
        li {
            color: $alert-color;
            margin: 0;
        }
    }
}

footer {
    background: $ci-color-light;
    background-image: linear-gradient(darken($ci-color-light, 8) 25%, $ci-color-light);
    padding: 20px 0 50px 0;
    margin: 5px 0 0 0;

    .label-with-input {
        // @include breakpoint('large') {
        //     box-sizing: border-box;
        //     float: left;
        //     width: 50%;
        //     padding: 0 5px;
        // }
    }

    form {
        margin-top: 29px;

        fieldset {
            background: none;
            padding: 0;

            legend {
                background: none;
                font-size: 26px;
                font-weight: normal;
                padding: 0;
                margin: 0 0 0 0;
                color: $white;
            }
        }
    }

    input[type=text],
    input[type=email],
    select {
        // @include breakpoint('large') {
        //     float: left;
        //     width: 70%;
        //     margin: 0 0 15px 0;
        // }
        border-radius: 5px;
        border: solid 1px $white;
        background: rgba(255,255,255,0.05);
        font-size: 0.85rem;
    }

    select {
        height: 38px;
    }

    label {
        @include breakpoint('large') {
            box-sizing: border-box;
            margin: 10px 0 5px 0;
            padding: 5px 0 0 0;
        }
    }

    textarea {
        // @include breakpoint('large') {
        //     float: left;
        //     width: 85%;
        // }
        border-radius: 5px;
        border: solid 1px $white;
        background: rgba(255,255,255,0.05);
        font-size: 0.85rem;
    }

    input[type=submit] {
        border-radius: 5px;
        border: solid 1px $white;
        // @include breakpoint('large') {
        //     margin-left: 15%;
        // }
    }
}

.divider {
    border-bottom: solid 1px #cccccc;
    height: 1px;
    width: 100%;
    margin: 0 0 10px 0;
}
