/**
 * typo.scss
 */

h1 {
    padding: 0 13px;
}

.main > h1:first-child {
    margin-top: 0;
}

footer {

    * {
        color: $body-background-color;
    }

    p, li {
        font-size: 14px;
        margin: 0 0 0.5em 0;
        line-height: 1.5em;
        font-weight: 300;
        &:before {
            color: white;
        }
    }

    ul, ol {
        margin: 0 0 0.5em 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 1em;
        margin-left: 0;
    }

    h3 {
        font-family: $body-fonts;
        font-weight: 300;
        letter-spacing: 1px;
    }
}

.pull-up {
    margin-top: -1.25em;
}
