/**
 * Farben für Entwicklung
 */

@if $use-dev-mode == true {

    header {
        background-color: #e3e3e3;
    }

    footer {
        background-color: #e2e2e2;
    }

    nav {
        background-color: #d6d6d6;
    }

    .col:nth-child(odd) {
        background-color: #eee;
    }

    .col:nth-child(even) {
        background-color: #ddd;
    }

}
