/**
 * MIXINS
 */

/**
 * The Grid
 */

 @mixin grid($total-cols:12, $grid-gap:1em, $bp-names: small medium large, $bp-values: 0 460 800) {

    .row {

        font-size: 0;

        &.no-padding .col {
        padding: 0;
        }

        .col.large-padding-left {
            @include breakpoint('large') {
                padding-left: 1em;
            }
        }

        .col.large-padding-right {
            @include breakpoint('large') {
                padding-right: 1em;
            }
        }

    }

    .col {
        font-size: #{$base-font-size}px;
        vertical-align: top;
        box-sizing: border-box;
        @include inline-block();

        // &:first-child {
        //     padding-left: 0;
        // }

        // @each $bp-name in $bp-names {
        //     &:last-child.#{$bp-name}-#{$total-cols} {
        //         padding: 0;
        //         border-right: none;
        //     }
        // }

        &.seperator {
            border-right: $seperator-style $seperator-width $seperator-color;
        }

        &.no-padding {
            padding: 0;
        }

        &.no-margin {
            margin: 0;
        }

    }


    @each $bp-name in $bp-names {

        $a: index($bp-names, $bp-name);

        @if $a == 1 {
            @for $i from 1 to $grid-total-cols + 1 {

                .#{$bp-name}-#{$i} {
                    width: percentage($i/$total-cols);
                    padding: 0 $grid-gap;
                }
            }
        } @else {
            @media only screen and (min-width: #{nth($bp-values, $a) + 1}px) {

                @for $i from 1 to $grid-total-cols + 1 {

                    .#{$bp-name}-#{$i} {
                        width: percentage($i/$total-cols);
                        padding: 0 $grid-gap;
                    }
                }
            }
        }
    }
}


/**
 * Breakpoints
 */

@mixin breakpoint($bp) {

    $a: index($bp-names, $bp);

    @if $a {

        @media only screen and (min-width: #{nth($bp-values, $a)+1}px) {
            @content;
        }

    } @else {
        @media only screen and (min-width: #{$bp+1}px) {
            @content;
        }
    }
}


/**
 * Mixin für Hintergrundbilder unterschiedlicher Auflösung.
 */

@mixin background-image($name, $sh, $sw) {

    background-image: url(/static/images/#{$name}.png);
    background-size: #{$sw}px #{$sh}px;

    @media (min-resolution: 100dpi) {
        background-image: url(/static/images/#{$name}@2x.png);
        background-size: #{$sw}px #{$sh}px;
    }

}


/**
 *  Global BoxShadow
 */

 @mixin shadow($size:'small') {

    @if $size == 'tiny' {
        box-shadow: $global-box-shadow-tiny;
    }

    @if $size == 'small' {
        box-shadow: $global-box-shadow-small;
    }

    @if $size == 'large' {
        box-shadow: $global-box-shadow-large;
    }

 }


/**
 * Schriftgröße für Textelemente um Prozentwert verändern
 * z.B. für Textboxen
 */

 @mixin adjust-font-size($value:90) {

    p, li, ul, ol, blockquote, dl, dd {

        font-size: #{$base-font-size * ($value / 100)}px;
        margin-bottom: #{$para-space-after * ($value / 100)}px;

    }

 }


/* Inline Block */

@mixin inline-block() {
    display: -moz-inline-stack;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}


/* Iframe */

iframe {
    width: 100%;
    height: 400px;
    margin: 0;
    border: 0;
}
