/**
 * banner.scss
 */

 ul.slick-hero {
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 380px;
    li {
        margin: 0;
        padding: 0;
    }
    .slick-dots li {
        margin: 0 3px;
    }
    &.slick-dotted.slick-slider {
        margin-bottom: 0;
     }

    .slick-dots {
        bottom: 10px;
    }
}
