/**
 * Page Styles Landfried Stiftung
 */

body {
    background: $body-background-color;
}

aside.col.no-padding {
    padding-top: 40px;
}

#search {
    display: none;
    float: right;
}

.nav-horizontal > .page-width > ul {

    margin-left: 27px;

    @include breakpoint(1000) {
        margin-left: 7px;
    }

    @media only screen and (max-width: #{$nav-bp}px) {
        margin-left: 7px;
    }
}

nav > .page-width {
    padding: 6px 0 8px 0;
}

.page-logo {

    @include inline-block();
    background-repeat: no-repeat;
    width: 290px;
    height: 57px;
    margin: 20px 0 15px 0px;

    @include background-image('landfried-stiftung-small', 57, 290);

    @include breakpoint(medium) {
        @include background-image('landfried-stiftung', 75, 385);
        width: 385px;
        height: 75px;
    }

    @media only screen and (max-width: 380px) {
        @include background-image(landfried-stiftung-sticky, 44, 240);
        width: 240px;
        height: 34px;
        margin: 23px 0 0 0;
    }

    @include breakpoint(1000) {
        margin-left: -5px;
    }

    span {
        display: none;
    }

}

.main .large-4 .textbox .text {
    min-height: 130px;
}

.text-with-image.textbox .text {
    position: relative;
    padding-bottom: 2.35rem;
    .read-more {
        position: absolute;
        right: 10px;
        bottom: 3px;
        a {
            font-size: 14px;
            padding: 0.4rem 1rem;
            border-radius: 2px;
            text-decoration: none;
            background: $ci-color-light;
            color: #fff;
            transition: all 0.2s;
            &:hover {
                background: lighten($ci-color-light, 3%);
            }
        }
    }
}

.col {
    margin-bottom: 1.25em;
}

footer {
    background: $ci-color-dark;
    background-image: linear-gradient(#505c5f, #6e7678);
    padding: 20px 0 50px 0;
    margin: 50px 0 0 0;

}
