/**
 *_nav-horizontal.scss
 * Desktop: Sticky horizontal nav with dropdown
 * Mobile: Navbutton to open dropdown nav
 */

@if $use-abs-nav-horizontal == true {

    nav.nav-horizontal {

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        @include breakpoint($nav-bp) {

            ul {
                display: inline;
                margin: 0;

                li {
                    position:relative;
                    @include inline-block();
                    margin: 0;

                    &:hover ul {
                        display: block;
                    }

                }

                a {
                    display: inline-block;
                }

                ul {
                    display: none;
                    position: absolute;
                    margin: 0;

                    li {
                        display: block;
                    }
                }
            }
        }
    }
}
