/**
 * _page.scss
 */

// Abstraktion für das Seitengrundgerüst

@if $use-abs-page == true {

    body, html {

        text-align: center;

        &>* {
            text-align: left;
        }

    }

    .page-width {
        max-width: #{$page-max-width}px;
        *width: #{$page-max-width}px;
        margin: 0 auto;
        padding: 0 20px;
        text-align: left;

        @include breakpoint(1000) {
            padding: 0;
        }

    }

    .content-wrapper {
        min-height: 400px;
    }

}
