/**
 * _visibility.scss
 **/

.hide-on-small {
    display: none;
}

.hide-on-medium {
    @include breakpoint('medium') {
        display: none;
    }
}

.hide-on-large {
    @include breakpoint('large') {
        display: none;
    }
}

.hide-on-navbp {
    @include breakpoint($nav-bp) {
        display: none;
    }
}

.show-on-small {
    display: initial;
}

.show-on-medium {
    @include breakpoint('medium') {
        display: initial;
    }
}

.show-on-large {
    @include breakpoint('large') {
        display: initial;
    }
}

.show-on-navbp {
    @include breakpoint($nav-bp) {
        display: initial;
    }
}
